.cmn_alignCenter{ text-align: center; 
                  padding: 2vh;
                  color: white;
				  background-color: black;}
.cmn_alignRight { text-align: right; }
.cmn_hidden     { display:none; }
.cmn_green_bkgd { background-color: #CAFF33; }
.cmn_green      { color: green; }
.cmn_fullHeight { font-size: 4vh; }
.cmn_moreHeight { height: 6vh; font-size: 4vh; }
.cmn_noPadding  { padding: 0px; }
.cmn_tapEntry   { width: 50px; }
.cmn_about		{ text-align: center;
				  display: block;
				  margin-left: auto;
				  margin-right: auto;
				  padding-bottom: 20px; } 
.cmn_aboutText	{ text-align: center;
				  margin-left: auto;
				  margin-right: auto;
				  padding-top: 50px;
				  font-family: Arial, Helvetica, sans-serif; }
.cmn_backButton	{ font-size: 4vh;
				  margin-left: auto;
				  margin-right: auto; }